* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Product */
  --brand-color: hsla(7, 84%, 62%, 1);

  /* Shape */
  --background-color: hsla(0, 0%, 100%, 1);
  --surface-color: hsla(0, 0%, 96%, 1);
  --skeleton-color: hsla(0, 0%, 85%, 1);
  --shape-transparency: hsla(0, 0%, 100%, 0.56);

  /* Text */
  --text-color-primary: hsla(0, 0%, 19%, 1);
  --text-color-secondary: hsla(0, 0%, 42%, 1);

  /* Typography */
  font-family: Poppins, sans-serif;
  color: var(--text-color-secondary);
}

body {
  background-color: var(--background-color);
}

header {
  background-color: var(--surface-color);
  display: flex;
  padding: 1.25rem 2rem;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header .logo span {
  color: var(--brand-color);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 160%;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav a {
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
}

header nav a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}
/* 
header nav a img#search {
  fill: var(--text-color-secondary);
}

header nav a img#search:hover {
  fill: var(--brand-color);
} */

header nav a img#avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.about {
  background-color: var(--surface-color);
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

.about main {
  display: flex;
  width: 37rem;
  align-items: center;
  gap: 2rem;
}

.about main img {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.about main .description h1 {
  font-size: 2rem;
  line-height: 125%;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--text-color-primary);
}

p {
  font-size: 0.875rem;
  line-height: 170%;
  font-weight: 400;
}

a {
  color: var(--text-color-secondary);
  text-decoration: none;
  display: flex;
  padding: .25rem;
  align-items: center;
}

.about .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 17.5rem;
  gap: 1rem;
}

.about .info > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.photo-gallery {
  background-color: var(--skeleton-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: stretch;
  padding: 1.5rem 2rem;
  gap: 1.5rem;
}

.photo-gallery img {
  width: 18rem;
  height: 18rem;
  border-radius: 1rem;  
}

footer {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

footer .links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
